In [1]:
a = [1,2,3,4,5,6]

In [2]:
a

[1, 2, 3, 4, 5, 6]

In [3]:
a[1]

2

In [4]:
5/2

2

In [5]:
5.0/2

2.5

In [6]:
a[-0]

1

In [7]:
a

[1, 2, 3, 4, 5, 6]

In [8]:
a[-1]

6

In [9]:
s = 'hello'

In [10]:
s[-1]

'o'

In [11]:
s[-2]

'l'

In [3]:
i =1

In [11]:
i=1

while i<5:
    print('i is {}'.format(i))
    i=i+1

i is 1
i is 2
i is 3
i is 4

In [1]:
x = [1,2,3,4]

In [3]:
y =[]

for num in x:
    y.append(num**2)

In [4]:
print(y)

[1, 4, 9, 16]

In [5]:
def my_function(parameter1):
    print(parameter1)

In [6]:
my_function('hello')

hello

In [3]:
def my_fun(name='default name'):
    print('hello '+name)

In [4]:
my_fun()

hello default name

In [6]:
my_fun('jason')

hello jason

In [7]:
my_fun(name='jason')

hello jason

In [14]:
def square(num):
    """
    This function squares a number
    """
    return num**2

In [15]:
output = square(2)

In [16]:
output

4

In [17]:
square

In [18]:
def times2(num):
    return num*2

In [19]:
times2(5)

10

In [20]:
#map function

In [21]:
seq = [1,2,3,4,5]

In [25]:
map(times2,seq)

[2, 4, 6, 8, 10]

In [24]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [27]:
t = lambda num:num*2

In [28]:
t(10)

20

In [30]:
map(lambda num:num*3,seq)

[3, 6, 9, 12, 15]

In [31]:
filter(lambda num: num%2 ==0,seq)

[2, 4]

In [32]:
s = "Hello, my name is July"

In [34]:
s.lower()

'hello, my name is july'

In [35]:
s.lower

In [36]:
s.split()

['Hello,', 'my', 'name', 'is', 'July']

In [37]:
tweet='Go Sport! #Sport'

In [38]:
tweet.split()

['Go', 'Sport!', '#Sport']

In [39]:
tweet.split('#')

['Go Sport! ', 'Sport']

In [40]:
d = {'key1':1,'key2':2}

In [41]:
d

{'key1': 1, 'key2': 2}

In [44]:
d.keys()

['key2', 'key1']

In [45]:
d.items()

[('key2', 2), ('key1', 1)]

In [51]:
lst = [1,2,3,4,5]

In [52]:
lst.pop()

5

In [53]:
lst

[1, 2, 3, 4]

In [55]:
lst.pop(0)

1

In [56]:
lst

[2, 3, 4]

In [57]:
x = [(1,2),(3,4),(5,6)]

In [59]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6

In [4]:
import numpy as np

In [12]:
np.arange(1,10,0.05)

array([ 1.  ,  1.05,  1.1 ,  1.15,  1.2 ,  1.25,  1.3 ,  1.35,  1.4 ,
        1.45,  1.5 ,  1.55,  1.6 ,  1.65,  1.7 ,  1.75,  1.8 ,  1.85,
        1.9 ,  1.95,  2.  ,  2.05,  2.1 ,  2.15,  2.2 ,  2.25,  2.3 ,
        2.35,  2.4 ,  2.45,  2.5 ,  2.55,  2.6 ,  2.65,  2.7 ,  2.75,
        2.8 ,  2.85,  2.9 ,  2.95,  3.  ,  3.05,  3.1 ,  3.15,  3.2 ,
        3.25,  3.3 ,  3.35,  3.4 ,  3.45,  3.5 ,  3.55,  3.6 ,  3.65,
        3.7 ,  3.75,  3.8 ,  3.85,  3.9 ,  3.95,  4.  ,  4.05,  4.1 ,
        4.15,  4.2 ,  4.25,  4.3 ,  4.35,  4.4 ,  4.45,  4.5 ,  4.55,
        4.6 ,  4.65,  4.7 ,  4.75,  4.8 ,  4.85,  4.9 ,  4.95,  5.  ,
        5.05,  5.1 ,  5.15,  5.2 ,  5.25,  5.3 ,  5.35,  5.4 ,  5.45,
        5.5 ,  5.55,  5.6 ,  5.65,  5.7 ,  5.75,  5.8 ,  5.85,  5.9 ,
        5.95,  6.  ,  6.05,  6.1 ,  6.15,  6.2 ,  6.25,  6.3 ,  6.35,
        6.4 ,  6.45,  6.5 ,  6.55,  6.6 ,  6.65,  6.7 ,  6.75,  6.8 ,
        6.85,  6.9 ,  6.95,  7.  ,  7.05,  7.1 ,  7.15,  7.2 ,  7.25,
        7.3 ,  7.35,  7.4 ,  7.45,  7.5 ,  7.55,  7.6 ,  7.65,  7.7 ,
        7.75,  7.8 ,  7.85,  7.9 ,  7.95,  8.  ,  8.05,  8.1 ,  8.15,
        8.2 ,  8.25,  8.3 ,  8.35,  8.4 ,  8.45,  8.5 ,  8.55,  8.6 ,
        8.65,  8.7 ,  8.75,  8.8 ,  8.85,  8.9 ,  8.95,  9.  ,  9.05,
        9.1 ,  9.15,  9.2 ,  9.25,  9.3 ,  9.35,  9.4 ,  9.45,  9.5 ,
        9.55,  9.6 ,  9.65,  9.7 ,  9.75,  9.8 ,  9.85,  9.9 ,  9.95])